# Own Macros

# Start / End Macros

[gcode_macro _START_PRINT]
description: Executes the start up procedure before the print
gcode:
 {% set first_layer_bed = params.FIRST_LAYER_BED | int %}
 {% set first_layer_ext = params.FIRST_LAYER_EXT | int %}
  LED_LEVELING
  G90 ;Ensure absolute
  G21 ;Ensure mm
  G28 ;Home Axes
  {% set was_preheated = (printer.heater_bed.temperature | float) > (first_layer_bed * 0.8) %}
  M140 S{first_layer_bed}
  G1 Z20
  LED_HEATING
  M190 S{first_layer_bed}
  {% if not was_preheated %}
    G4 S60 ;Wait for heated bed
  {% else %}
    { action_respond_info('Halving bed heat up time') }
  {% endif %}
  TIMELAPSE_TAKE_FRAME
  M104 S{first_layer_ext}
  G4 S60 ;Wait for heated bed again
  M109 S{first_layer_ext}
  LED_LEVELING
  G28 ;Home Axes
  Z_TILT_ADJUST
  BED_MESH_CALIBRATE
  LINE_PURGE
  LED_PRINTING

[gcode_macro _END_PRINT]
description: Executes the ending procedure after a print
gcode:
  {% set end_x = (range(5, 260) | random) %}
  {% set end_y = (range(270, 280) | random) %}
  { action_respond_info('Park point: X' + (end_x | string) + ' Y' + (end_y | string)) }

  TURN_OFF_HEATERS
  M107
  BED_MESH_CLEAR
  G92 E0
  G1 E-10 F1800
  G1 X{end_x} Y{end_y} F12000
  G91
  G1 Z10 F300
  M400
  G90
  TIMELAPSE_TAKE_FRAME
  LED_FINISHED
  MUSIC_TAKE_ON_ME
  M18 XYZE
  TIMELAPSE_RENDER
  UPDATE_DELAYED_GCODE ID=POWER_OFF_PRINTER_CHECK DURATION=300 # Checks for Power off after 5 minutes

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  TURN_OFF_HEATERS
  M107
  BED_MESH_CLEAR
  {% set was_heated = (printer.heater_bed.temperature | float) > 180 %}
  {% if not was_heated %}
  G92 E0
  G1 E-10 F1800
  G91
  G1 Z10 F300
  M400
  G90
  TIMELAPSE_TAKE_FRAME
  {% endif %}
  LED_ERROR
  M300 S200
  M300 S600
  M300 S200
  M300 S600
  M300 S200
  M300 S600
  M300 S200
  M300 S600
  M18 XYZE
  TIMELAPSE_RENDER

# Debug

[gcode_macro SEARCH_VARS]
description: This macro will allow you to type SEARCH_VARS S={some word} from the terminal and it will respond with all of the matching items in the printer object.
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}

# Auto Power Off
# Adapted from https://github.com/tinntbg/auto-power-off-klipper

[gcode_macro _POWER_OFF_PRINTER]
description: Powers down the printer
gcode:
  {action_call_remote_method("set_device_power", device="printer", state="off")}

[delayed_gcode POWER_OFF_PRINTER_CHECK]
gcode:
  {% if printer.idle_timeout.state == "Idle" or printer.idle_timeout.state == "Ready" %}
    {% if printer.extruder.temperature < 50.0 and printer.heater_bed.temperature < 60.0 %}
        {% if printer.extruder.target == 0.0 and printer.heater_bed.target == 0.0 %}
            UPDATE_DELAYED_GCODE ID=POWER_OFF_PRINTER_CHECK DURATION=0
            _POWER_OFF_PRINTER
        {% else %}
            UPDATE_DELAYED_GCODE ID=POWER_OFF_PRINTER_CHECK DURATION=2
        {% endif %}
    {% else %}
        {% if printer.idle_timeout.state == "Printing" %}
            UPDATE_DELAYED_GCODE ID=POWER_OFF_PRINTER_CHECK DURATION=0
        {% else %}
            {% if printer.extruder.target == 0.0 and printer.heater_bed.target == 0.0 %}
                UPDATE_DELAYED_GCODE ID=POWER_OFF_PRINTER_CHECK DURATION=2
            {% else %}
                UPDATE_DELAYED_GCODE ID=POWER_OFF_PRINTER_CHECK DURATION=0
            {% endif %}
        {% endif %}
    {% endif %}
  {% endif %}